# OAuth
DS_AUTH_SERVER=https://account-d.docusign.com
DS_CLIENT_ID=YOUR_INTEGRATION_KEY
DS_CLIENT_SECRET=YOUR_SECRET
DS_REDIRECT_URI=http://localhost:4000/callback

# Maestro
DS_ACCOUNT_ID=YOUR_ACCOUNT_ID
MAESTRO_WORKFLOW_ID=YOUR_WORKFLOW_ID

# Server
PORT=4000