# This is a template for environment variables needed to run the server. 
# Copy this file to .env and fill in the values to run the server locally.

# These values are found on the Apps and Keys page in the Docusign Admin console.
# You will need to create an app to get these values.
DS_CLIENT_ID=YOUR_INTEGRATION_KEY
DS_CLIENT_SECRET=YOUR_SECRET

# The Docusign demo environment for testing. No need to change this.
DS_AUTH_SERVER=https://account-d.docusign.com

# The redirect URI must be added to your app in the Docusign Admin console.
# No neeed to change this unless you change the server port or callback route.
DS_REDIRECT_URI=http://localhost:4000/callback

# API Account ID found on the Apps & Keys page in the Docusign Admin console
DS_ACCOUNT_ID=YOUR_ACCOUNT_ID

# Maestro workflow ID found in the Maestro UI URL
# URL will look like https://apps-d.docusign.com/send/workflows/${YOUR_WORKFLOW_ID}/
MAESTRO_WORKFLOW_ID=YOUR_WORKFLOW_ID

# Server
PORT=4000